.form {
  width: 500px;
  height: 250px;
  background-color: #d3b68e;
  border-radius: 15px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
}

.label {
  width: 250px; 
  text-align: center;
  font-size: 20px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.divider {
  height: 56px;
  display: flex;
}

.error {
  font-size: 16px;
  color: #f80404;
}